<div class="mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="search-input">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa...">
            <input type="text" class="mt-2" name="fullname" class="form-control" placeholder="Họ tên">
            <input type="text" class="mt-2" name="age" class="form-control" placeholder="Tuổi">
        </div>
        <select class="form-control mb-4" id="gender-input" name="gender">
            <option value=""> - Chọn giới tính - </option>
            <option value="men"> Nam </option>
            <option value="womwan"> Nữ </option>
        </select>
        <button type="submit" class="btn btn-primary">Tìm kiếm</button>
    </form>
</div>